@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

body, div, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body{
  font-family: 'Montserrat';
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-color: hsl(240, 78%, 98%);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

.component_wrapper {
  margin: 0 auto;
  padding-top: 50px;
}

.title {
  text-align: center;
  color: hsl(233, 13%, 49%);
  font-size: 24px;
}

.pricing_toggle_container {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: hsl(234, 14%, 74%);
}

.pricing_toggle_container div {
  display: inline-block;
  padding: 5px;
}

.pricing_details {
  margin: 0 auto;
  text-align: center;
}

.pricing_level, .pricing_level_recommended {
  display: inline-block;
  max-width: 33%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 50px hsl(234, 14%, 74%);
  padding: 30px;
}

.pricing_level:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pricing_level:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pricing_level {
  background: #ffffff;
  color: hsl(233, 13%, 49%);
}

.pricing_level_recommended {
  padding: 40px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.level_price {
  font-size: 48px;
  margin: 0;
}

.pricing_level .level_price {
  color: hsl(232, 13%, 33%);
}

.level_button {
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  font-weight: bold;
  width: 100%;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.level_button:hover {
  background: #ffffff;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(236, 72%, 79%);
}

.pricing_level_recommended .level_button {
  background: #ffffff;
  color: hsl(237, 63%, 64%);
}

.pricing_level_recommended .level_button:hover {
  background: hsl(237, 63%, 64%);
  color: #ffffff;
}

.level_section {
  font-size: 14px;
  border-top: 1px solid hsl(234, 14%, 74%);
  padding-top: 10px;
  padding-bottom: 10px;
}

.level_price_unit {
  font-size: 24px;
  vertical-align: middle;
}

@media only screen and (max-width: 375px) {
  .pricing_level, .pricing_level_recommended {
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
    width: 100%;
  }

  .pricing_level:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pricing_level:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
